//entry
.entry-content{
  padding:0 5%;
  img{
    padding-bottom:0.5em;
  }
  h2{
    background-color: #eee;
    border-left: 5px solid #00a1e9;
    padding: 0.3em 1em;
    margin: 1.5em 0 0.8em 0;
    font-size: 1.6em;
    line-height: 1.6;
    font-weight: bold;
    width:100%;
    &.top-sub-title{
      color:#666;
      text-align: center;
    }
  }
  h3{
    border-bottom: 3px solid #abcf22;
    padding: 0 0px 0.2em 0;
    margin:0.2em 0 1.3em 0;
    font-size: 1.4em;
    line-height: 1.6;
    font-weight: bold;
    clear: both;
    &.cancer-topic-title{
      color: #777;
      text-align: center;
    }
  }
  .readmore{
    display: block;
    text-align: right;
    margin:0 0 1em 0;
  }
  p{
    margin:0 0 1.3em 0;
  }
  .linkitpop{
    color:#333333;
    text-decoration: none;
    border-bottom: 2px dotted #333333;
  }
  .yarpp-related {
    margin: 2em 0 2em 0;
  }
  table{
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1.625em;
    max-width: 100%;
    clear: both;
    width: 100%;
    td,
    th{
      padding: 3px 10px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #ddd;
      font-size: 0.85em;
    }
  }
  dl{
    margin:0 5% 1.3em;
    dt{
      font-size:1.1em;
      font-weight: bold;
      padding:0 0 0 0;
      border-bottom:solid 1px #ccc;
    }
    dd{
      padding:0.5em 0 0 1em;
      margin-bottom: 1em;
    }
  }
  .flex{
    &_layout{
    @include flexbox;
      &.justify{
        @include flexhashi;
      }
    }
    &_box{
      &.width10{
        width:10%;
      }
      &.width20{
        width:20%;
      }
      &.width30{
        width:30%;
      }
      &.width40{
        width:40%;
      }
      &.width50{
        width:50%;
      }
      &.width60{
        width:60%;
      }
      &.width70{
        width:70%;
      }
      &.width80{
        width:80%;
      }
      &.width90{
        width:90%;
      }
      &.width100{
        width:100%;
      }
    }
  }
}
/*title*/
.ttl{
  &_bblue{
    font-size: 1.7rem;
    font-weight: bold;
    color:#14578b;
    margin-bottom:1.3em;
    text-align: center;
  }
  &_bblack{
    font-size: 1.7rem;
    font-weight: bold;
    color:#000000;
    margin-bottom:1.3em;
    text-align: center;
  }
  &_blblue{
    font-size: 2rem;
    font-weight: bold;
    color:#14578b;
    margin-bottom:1em;
    text-align: center;
    border-bottom:5px solid #d8e8f7;
    padding: 0 0 0.5em 0;
  }
}

//slider
.slider{
  background:#d8e8f7;
  padding:1em 80px;
  overflow: hidden;
  &_item{
    >a{
      @include flexbox;
      @include flexcen;
      text-decoration: none;
      color:#000000;
    }
  }
  &_image{
    width: 50%;
  }
  &_content{
    width: 50%;
    text-align: left;
    padding:0 0 0 1em;
  }
  &_ttl{
    font-size:1.8em;
    margin-bottom: 0.5em;
    line-height: 1.4;
  }
  &_txt{
    font-size:1rem;
    margin-bottom:2em;
  }
  &_more{
    text-align: right;
    span{
      display:inline-block;
      background:#ffffff;
      color:#0886af;
      font-weight: bold;
      padding:0.5em 1em;
    }
  }
}
//home tab
fade-enter-active, .fade-leave-active {
  transition: all .8s ease;
  opacity: 1;
}
.fade-enter,
.fade-leave-active,
.fade-leave{
  opacity: 0;
}

//pickup
.pickup{
  &_wrap{
    margin-bottom: 2em;
  }
  &_nav{
    display: block;
    text-align: center;
    margin-bottom:2em;
    &_list{
    list-style: none;
      @include flexbox;
      @include flexcen;
    }
    &_item{
      margin:0 0.5em;
      padding:0.5em 1em;
      border:solid 1px #d8e8f7;
      font-weight: bold;
      cursor: pointer;
      letter-spacing: 0.1em;
      &.active{
        background:#d8e8f7;
      }
    }
  }
  &_more{
    text-align: center;
    display: block;
    width:100%;
    margin-bottom:2em;
    a{
      background:#14578b;
      color:#ffffff;
      padding:0.5em 1em;
      display: inline-block;
      text-decoration: none;
    }
  }
}

//ranking
.ranking{
  &_wrap{
    .ly_flex &{
      width:48%;
      margin:0 0 4em 0;
    }
    margin:0 5% 4em;
  }
  &_nav{
    &_list{
      list-style: none;
      @include flexbox;
      @include flexkin;
      align-items: flex-end;
      -webkit-align-items: flex-end;
      padding:0 0.5em;
    }
    &_item{
      padding:0.5em 1em;
      background:#eeeeee;
      color:#777777;
      cursor: pointer;
      text-align: center;
      width:31%;
      &.active{
        background:#d8e8f7;
        padding:1em 1em 0.5em;
      }
    }
  }
  &_list{
    padding:1em 0.5em;
    border:solid 1px #d8e8f7;
    .wpp-list{
      list-style-type: decimal !important;
      list-style-position: inside !important;
      li{
        margin-bottom:1em;
        &:nth-child(-n+3){
          font-weight: bold;
          font-size: 1.1em;
        }
      }
      a{
        text-decoration: none;
        color:#333333;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

//newpost
.newpost{
  &_wrap{
    width:48%;
    margin-bottom:4em;
  }
  &_list{
    list-style: none;
    a{
      color: #0886af;
      padding: 0 0 1em 6em;
      position: relative;
      display: block;
    }
  }
  &_day{
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content{
  margin-bottom: 4em;
  &_head{
    @include flexbox;
    @include flexhashi;
    margin-bottom:1em;
    [class^="ttl_"]{
      width: 100%;
    }
    .wp_social_bookmarking_light{
      width:40%;
    }
  }
  &_main{
    margin-bottom:4em;
  }
  &_aside{
    @include flexbox;
    @include flexhashi;
  }
  &_ad{
    &_wrap{
      width:28%;
    }
    &_ttl{
      font-size:1.2rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      border-top:3px solid #f7c646;
      padding:0.5em;
      text-align: center;
      margin-bottom:0.4em;
    }
    &_img{
      img{
        width: 100%;
      }
    }
    a{
      color:#000000;
      line-height: 1.4;
      font-size:0.9em;
    }
  }
  &_eyecach{
    margin:0 auto 2em;
    width:70%;
    img{
      width: 100%;
    }
  }
  &_day{
    width: 40%;
    @include flexbox;
    justify-content: flex-end;
    -webkit-box-pack: end;
    list-style: none;
  }
  &_author{
    display: block;
    width: 100%;
    border:solid 2px #cccccc;
    @include flexbox;
    @include flexhashi;
    padding:1em 1em 3em 1em;
    margin-bottom:2em;
    position: relative;
    &_icon{
      width:100px;
    }
    &_info{
      width:calc(100% - 120px);
      h3{
        font-weight: bold;
        margin-bottom:0.5em;
        font-size:1rem;
        border:none;
        padding:0;
        margin:0;
      }
      p{
        font-size: 0.9rem;
        margin:0;
      }
      a{
        display: block;
        padding: 0.5em 1.5em;
        background: #d8e8f7;
        font-weight: bold;
        color: #0886af;
        position: absolute;
        margin:0;
        text-decoration: none;
        bottom:0.5em;
        right:1.5em;
      }
    }
  }
  &_prifits{
    margin:2em 0;
  }
  &_pr{
    border:solid 1px #ccc;
    &_wrap{
      margin:0 5% 2em;
    }
    &_ttl{
      font-weight: bold;
      text-align: center;
      font-size:1.2rem;
      padding:0.5em;
      color:#ffffff;
      &.green{
        background:#aace23;
      }
      &.blue{
        background:#00a0e9;
      }
      &.orange{
        background:#f2b013;
      }
    }
    &_txt{
      padding:1em;
      text-align: center;
      p{
        margin-bottom:1em;
      }
    }
    .btn_box{
      @include flexbox;
      @include flexcen;
      a{
        background: #14568b;
        text-decoration: none;
        color:#fff;
        padding:0.7em;
        border-radius: 4px;
        border-bottom:solid 2px #aaa;
        margin:0 0.5em;
      }
    }
  }
}
//blogcard
.blogcard{
  border:solid 1px #cccccc;
  padding:1em;
  margin-bottom:1em;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    right: -3px;
    top: -2px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #abcf22 #fff #abcf22;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  }
  figure{
    width: 150px;
  }
  &_box{
    width: calc(100% - 170px);
  }
  a{
    @include flexbox;
    @include flexhashi;
    text-decoration: none;
    color:#333333;
    .ttl{
      font-weight: bold;
      color: #0886af;
      font-size: 1.2rem;
      line-height: 1.4em;
      margin-bottom: 0.5em;
      border: none;
    }
    .txt{
      font-size: 0.9em;
    }
  }
}
.movie{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  iframe{
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
//single-headline
.single-headline{
	width: 45%;
	background-color: #eee;
	padding: 1em;
  margin: 0 0 2em 0;
  p{
    margin: 0 0 0.5em 0;
	  color: #333;
	  font-weight: bold;
  }
  ul{
    margin: 0 0 0 1.5em;
    li{
      margin:0 0 0.5em 0;
      a{
        font-weight: bold;
        color: #0886af;
        padding: 0;
        margin: 0;
        &:hover{
          color: #CC3434;
        }
      }
      &#onlymedical{
        font-weight: bold;
        color: #0886af;
        text-decoration: underline;
        cursor: pointer;
        &:hover{
	        color: #cc3434;
        }
      }
    }
  }
}
