/*title*/
.ttl{
  &_bblue{
    font-size: 1.7rem;
    font-weight: bold;
    color:#14578b;
    margin-bottom:1.3em;
    text-align: center;
  }
  &_bblack{
    font-size: 1.7rem;
    font-weight: bold;
    color:#000000;
    margin-bottom:1.3em;
    text-align: center;
  }
  &_blblue{
    font-size: 2rem;
    font-weight: bold;
    color:#14578b;
    margin-bottom:1em;
    text-align: center;
    border-bottom:5px solid #d8e8f7;
    padding: 0 0 0.5em 0;
  }
}

//slider
.slider{
  background:#d8e8f7;
  padding:1em 80px;
  overflow: hidden;
  &_item{
    >a{
      @include flexbox;
      @include flexcen;
      text-decoration: none;
      color:#000000;
    }
  }
  &_image{
    width: 50%;
  }
  &_content{
    width: 50%;
    text-align: left;
    padding:0 0 0 1em;
  }
  &_ttl{
    font-size:1.8em;
    margin-bottom: 0.5em;
    line-height: 1.4;
  }
  &_txt{
    font-size:1rem;
    margin-bottom:2em;
  }
  &_more{
    text-align: right;
    span{
      display:inline-block;
      background:#ffffff;
      color:#0886af;
      font-weight: bold;
      padding:0.5em 1em;
    }
  }
}
//home tab
fade-enter-active, .fade-leave-active {
  transition: all .8s ease;
  opacity: 1;
}
.fade-enter,
.fade-leave-active,
.fade-leave{
  opacity: 0;
}

//pickup
.pickup{
  &_wrap{
    margin-bottom: 2em;
  }
  &_nav{
    display: block;
    text-align: center;
    margin-bottom:2em;
    &_list{
    list-style: none;
      @include flexbox;
      @include flexcen;
    }
    &_item{
      margin:0 0.5em;
      padding:0.5em 1em;
      border:solid 1px #d8e8f7;
      font-weight: bold;
      cursor: pointer;
      letter-spacing: 0.1em;
      &.active{
        background:#d8e8f7;
      }
    }
  }
  &_more{
    text-align: center;
    display: block;
    width:100%;
    margin-bottom:2em;
    a{
      background:#14578b;
      color:#ffffff;
      padding:0.5em 1em;
      display: inline-block;
      text-decoration: none;
    }
  }
}

//ranking
.ranking{
  &_wrap{
    .ly_flex &{
      width:46%;
    }
    margin-bottom:4em;
  }
  &_nav{
    &_list{
      list-style: none;
      @include flexbox;
      @include flexkin;
      align-items: flex-end;
      -webkit-align-items: flex-end;
      padding:0 0.5em;
    }
    &_item{
      padding:0.5em 1em;
      background:#eeeeee;
      color:#777777;
      cursor: pointer;
      text-align: center;
      width:31%;
      &.active{
        background:#d8e8f7;
        padding:1em 1em 0.5em;
      }
    }
  }
  &_list{
    padding:1em 0.5em;
    border:solid 1px #d8e8f7;
    .wpp-list{
      list-style-type: decimal !important;
      list-style-position: inside !important;
      li{
        margin-bottom:1em;
        &:nth-child(-n+3){
          font-weight: bold;
          font-size: 1.1em;
        }
      }
      a{
        text-decoration: none;
        color:#333333;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

//newpost
.newpost{
  &_wrap{
    width:46%;
    margin-bottom:4em;
  }
  &_list{
    list-style: none;
    a{
      color: #0886af;
      padding: 0 0 1em 6em;
      position: relative;
      display: block;
    }
  }
  &_day{
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content{
  margin-bottom: 4em;
  &_head{
    @include flexbox;
    @include flexhashi;
    margin-bottom:1em;
    [class^="ttl_"]{
      width: 100%;
    }
    .wp_social_bookmarking_light{
      width:40%;
    }
  }
  &_main{
    margin-bottom:4em;
  }
  &_eyecach{
    margin-bottom:2em;
  }
  &_day{
    width: 40%;
    @include flexbox;
    justify-content: flex-end;
    -webkit-box-pack: end;
    list-style: none;
  }
  &_author{
    display: block;
    width: 100%;
    border:solid 2px #cccccc;
    @include flexbox;
    @include flexhashi;
    padding:1em;
    margin-bottom:2em;
    position: relative;
    &_icon{
      width:100px;
    }
    &_info{
      width:calc(100% - 120px);
      h3{
        font-weight: bold;
        margin-bottom:0.5em;
      }
      p{
        font-size: 0.9rem;
      }
      a{
        display: block;
        padding: 0.5em 1.5em;
        background: #d8e8f7;
        font-weight: bold;
        color: #0886af;
        position: absolute;
        margin:0;
        text-decoration: none;
        bottom:0.5em;
        right:1.5em;
      }
    }
  }
  &_prifits{
    margin:2em 0;
  }
}

//entry
.entry-content{
  h2{
    background-color: #eee;
    border-left: 5px solid #00a1e9;
    padding: 0.5em 2em;
    margin: 0 0 1.3em 0;
    font-size: 1.6em;
    line-height: 1.6;
    width:100%;
    &.top-sub-title{
      color:#666;
      text-align: center;
    }
  }
  h3{
    border-bottom: 3px solid #abcf22;
    padding: 0 0px 0.2em 0;
    margin:0 0 1.3em 0;
    font-size: 1.4em;
    line-height: 1.6;
    clear: both;
    &.cancer-topic-title{
      color: #777;
      text-align: center;
    }
  }
  .readmore{
    display: block;
    text-align: right;
    margin:0 0 1em 0;
  }
  p{
    margin:0 0 1.3em 0;
  }
  .linkitpop{
    color:#333333;
    text-decoration: none;
    border-bottom: 2px dotted #333333;
  }

}
