.gotop{
  width: 100%;
  border-bottom:3px solid #14578b;
  text-align: center;
  height: 2.7em;
  &_icon{
    display:block;
    width: 2.5em;
    height: 3em;
    line-height: 3em;
    background:#14578b;
    margin: 0 auto;
    color:#ffffff;
    transform: scale(1,0.7);
    cursor: pointer;
    text-decoration: none;
  }
}
.footer{
  @include flexbox;
  @include flexhashi;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding:2em 0;
  &_left{
    width: 48%;
    @include flexbox;
  }
  &_right{
    width: 48%;
  }
  &_links{
    &_list{
      width: 100%;
      @include flexbox;
      @include flexhashi;
      list-style: none;
      margin-bottom:1em;
      > li {
      width: 49%;
      margin-bottom:0.5em;
        a{
          display: block;
          border: 3px solid #14578b;
          color:#14578b;
          padding:0.5em;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
  &_sns{
    width: 100px;
    @include flexbox;
    @include flexhashi;
    list-style: none;
    &_item{
      width: 46%;
    }
  }
  &_honcode{
    width: calc(95% - 100px);
    margin-left:5%;
    @include flexbox;
    @include flexhashi;
    &_img{
      width: 15%;
      margin:0;
    }
    &_txt{
      width: 81%;
      font-size: 0.8rem;
      span{
        display: block;
      }
    }
  }
  &_mark{
    width: 100%;
    padding-top:1em;
    @include flexbox;
    list-style: none;
    &_item{
      margin-right:1em;
      height:80px;
      img{
        height:100%;
        width: auto;
      }
    }
  }
  &_conduct{
    padding-top:1em;
    font-size: 0.8rem;
  }
  &_copy{
    background: #dcdcdc;
    text-align: center;
    padding:1em;
    margin-bottom:2em;
    address{
      font-style: normal;
      a{
        color:#000000;
        text-decoration: none;
        font-size: 0.8rem;
      }
    }
  }
}
//photo
.photo{
  &_list{
    @include flexbox;
    @include flexhashi;
    list-style: none;
    padding:0 1em;
  }
  &_item{
    width: calc(100% / 6);
    padding:0 0.5em;
  }
  &_link{
    a{
      display: block;
      max-width: 280px;
      padding:0.3em 0.5em;
      margin: 2em auto 0;
      background: #0d558c;
      color: #ffffff;
      text-decoration: none;
      width: 80%;
      font-size: 0.9em;
    }
  }
}
//link
.link_list1{
  list-style: none;
  display:-webkit-flex;
  display:flex;
  @include flexcen;
  margin-bottom:2em;
  >li{
    height: 67px;
    margin-right: 1em;
    &:last-of-type{
      margin-right:0;
      border:1px solid #33333338;
    }
    img{
      width:auto;
      height:100%;
    }
  }
}
.link_list2{
  list-style: none;
  @include flexbox;
  @include flexhashi;
  margin-bottom:2em;
  >li{
    width:48%;
    margin-bottom:0.7em;
  }
}
