.gotop{
  width: 100%;
  border-bottom:3px solid #14578b;
  text-align: center;
  height: 2.7em;
  &_icon{
    display:block;
    width: 2.5em;
    height: 3em;
    line-height: 3em;
    background:#14578b;
    margin: 0 auto;
    color:#ffffff;
    transform: scale(1,0.7);
    cursor: pointer;
  }
}
