.ly{
  &_header{
    width: 100%;
    margin-bottom:0.5em;
  }
  &_inner{
    @include pcsize;
  }
  &_headnews{
    border-top:3px solid #fdc800;
    border-bottom:3px solid #fdc800;
    text-align: center;
    padding:1em;
  }
}
