.ly{
  &_header{
    width: 100%;
    margin-bottom:0.5em;
  }
  &_inner{
    @include pcsize;
  }
  &_headnews{
    border-top:3px solid #fdc800;
    border-bottom:3px solid #fdc800;
    text-align: center;
    padding:1em;
    a{
      color:#626262;
    }
  }
  &_subcontent{
    width: 100%;
    margin:0;
  }
  &_photo{
    width: 100%;
    background: #d8e8f7;
    padding:2em;
    text-align: center;
  }
  &_link{
    width: 100%;
    padding:2em 0 0 0;
    text-align: center;
  }
  &_fixed{
    position:fixed;
    margin:0;
    background: #ffffff;
    width: 100%;
    z-index: 10;
    top:0;
  }
  &_subnavi{
    padding-top:120px;
  }
}
