@media screen and (max-width: 1000px) {

}//end media

@media screen and (max-width: 850px) {
@import "sp/base";//共通パーツ
@import "sp/layout";//レイアウト
@import "sp/header";//ヘッダー
@import "sp/side";//サイド
@import "sp/footer";//フッター
@import "sp/content";//コンテンツ
@import "sp/cat";//アーカイブ関係
@import "sp/page";//辞書など
@import "sp/error";//error
}//end media

@media screen and (max-width:560px) {
  .youtube-container{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    iframe{
      position: absolute;
      top: 0;
      right: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}
