//type2
.postlist_type2{
  &_wrap{
    display: block;
  }
  width: 90%;
  margin:0 5% 1em;
}
//list type3
.postlist_type3{
  a{
    .eyecach{
      width: 25%;
    }
    .textarea{
      width: 73%;
      @include flexbox;
    }
    .ttl{
      font-size: 1rem;
      margin-bottom:0.4em;
      width: 100%;
    }
    .update{
      display: inline;
      color:#000;
      margin:0 0.4em 0 0;
    }
    .cat_list{
      list-style: none;
      font-weight: 400;
      @include flexbox;
      margin:0;
      li{
        background:none;
        color:#222222;
        margin:0 0.4em 0.2em 0;
        padding:0 0.4em 0 0;
        border:solid 1px #ccc;
      }
    }
    .txt{
      display: none;
    }
  }
}
