//slider
.slider{
  padding:1em;
  &_image{
    width: 100%;
    margin-bottom:1em;
  }
  &_content{
    width: 100%;
  }
  &_ttl{
    font-size:1em;
  }
  &_txt{
    font-size:0.75rem;
    margin-bottom:1em;
  }
  &_more{
    display: none;
  }
}
