/*title*/
.ttl{
  &_bblue{
    margin-bottom:0.5em;
  }
  &_bblack{
    margin-bottom:0.5em;
  }
}
//slider
.slider{
  padding:1em;
  &_image{
    width: 100%;
    margin-bottom:1em;
  }
  &_content{
    width: 100%;
  }
  &_ttl{
    font-size:1em;
  }
  &_txt{
    font-size:0.75rem;
    margin-bottom:1em;
  }
  &_more{
    display: none;
  }
}
//pickup
.pickup{
  &_wrap{
    margin-bottom:4em;
  }
  &_nav{
    &_item{
      margin:0 0.2em;
      padding:0.2em 0.4em;
    }
  }
  &_list{
    overflow-x: scroll;
    overflow-y: hidden;
    .postlist_type1{
      display: inline-block;
      width: 70%;
      white-space: normal;
      vertical-align: top;
      height:270px;
      &_wrap{
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
      }
      .cat_list{
        display: none;
      }
    }
  }
}
//ranking
.ranking{
  &_wrap{
    width:90%;
    margin:0 5% 2em;
  }
  }
//newpost
.newpost{
  &_wrap{
    width:90%;
    margin:0 5% 4em;
  }
}
.eventlist{
  &_wrap{
    margin-bottom:4em;
  }
}
.information{
  &_wrap{
    margin-bottom:4em;
  }
}
.content{
  &_head{
    display: block;
    width:90%;
    margin:0 5% 1em;
    .wp_social_bookmarking_light{
      width:100%;
    }
    .ttl_blblue{
      text-align: left;
      font-size: 1.4rem;
      line-height: 1.6;
      padding: 0 2%;
    }
  }
  &_day{
    width:98%;
    margin:0 2% 0 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size:0.8em;
  }
  &_pr{
    &_txt{
      padding:1em 0.5em;
      .btn_box{
        display: block;
        a{
          display: block;
        }
      }
    }
  }
  &_eyecach{
    width:90%;
  }
}
//entry content
.entry-content{
  padding:0 5%;
  h2{
    font-size:1.3rem;
  }
  h3{
    font-size:1.1rem;
  }
}
//はじめて治験を
.hajimete{
  font-size:0.9em;
  margin:0 5% 2em;
}
//blogcard
.blogcard{
  figure{
    width:30%;
  }
  a{
    .txt{
      display: none;
    }
    .ttl{
      font-size: 1.1rem;
    }
  }
  &_box{
    width: 68%;
  }
}
