.footer{
 display: block;
  &_left{
    width: 100%;
    display:block;
  }
  &_right{
    width: 100%;
  }
  &_links{
    width: 100%;
  }
  &_sns{
    width: 30%;
    margin:0 auto;
  }
  &_honcode{
    width: 100%;
    margin:0;
    display:block;
  }
  &_copy{
    margin:0;
  }
}
