.footer{
 display: block;
  &_left{
    width: 100%;
    display:block;
  }
  &_right{
    width: 100%;
  }
  &_links{
    width: 100%;
    &_list{
      width: 94%;
      @include flexcen;
      list-style: none;
      margin:0 3% 1em 3%;
      > li {
      margin-bottom:0em;
      a{
        border-top:none;
      }
        &:nth-of-type(1) a,
        &:nth-of-type(2) a{
          border-top:3px solid #14578b;
        }
        &:nth-of-type(even) a{
          border-left:none;
        }
      }
    }
  }
  &_sns{
    width: 30%;
    margin:0 auto 1em;
  }
  &_honcode{
    width: 94%;
    margin:0 3%;
  }
  &_copy{
    margin:0;
  }
  &_mark{
    display: block;
    text-align: center;
  }
  &_conduct{
    width:94%;
    margin:0 3% 2em;
  }
}
.fbbox{
  padding:0 3%;
}
//photo
.photo{
  &_list{
    padding:0;
  }
  &_item{
    width: calc(100% / 3);
  }
}
//link
.link_list1{
  display: block;
  padding:0 1em;
  >li{
    margin:0 0 1em 0;
    height: 90px;
    &:last-of-type{
      height:auto;
      width:100%;
      padding:1em 0;
    }
  }
}
.link_list2{
  padding:0 1em;
  >li{
    width:100%;
  }
}
.gotop{
  &_fix{
    position: fixed;
    bottom:2em;
    right:0;
    z-index: 10;
    a{
      display: none;
      color: #fff;
      font-size: 20px;
      background: #5882FA ;
      width: 46px;
      text-decoration: none;
      line-height: 40px;
      border-radius: 10px;
      border: 3px solid #fff;
      box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
      text-align: center;
      opacity: 0;
      &.is_add{
        display: block;
        opacity: 1;
        animation-duration: 0.5s;
        animation-name: fade-in;
        -moz-animation-duration: 0.5s;
        -moz-animation-name: fade-in;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-name: fade-in;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
