.ly{

  &_header{
    margin:0;
  }
  &_headnews{
    padding-top:7em;
    background: #ffffff;
  }
  &_wrap{
    background:#ffffff;
  }
  &_photo{
    padding:2em 5%;
  }
  &_bread{
    margin:0 5% 0.8em;
    padding:0 2%;
    font-size:0.8em;
  }
  &_link{
    background: #ffffff;
  }
}
