//cancer
.cancer{
  &_nav{
    font-size:0.9em;
    &_item{
      padding:0.3em 0.2em;
    }
  }
  &_list{
    overflow-x: scroll;
    overflow-y: hidden;
    .postlist_type1{
      display: inline-block;
      width: 70%;
      white-space: normal;
      vertical-align: top;
      height:270px;
      &_wrap{
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
      }
      .cat_list{
        display: none;
      }
    }
  }
  &_head{
    &_box{
      width:100%;
    }
  }
}
.dic{
  &_navlink{
    width:90%;
    &_item{
      width:45%;
    }
  }
  &_navi{
    &_list{
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      width:90%;
      margin:0 auto 1em;
      li{
        margin:0 0.2em 0.5em 0;
      }
    }
  }
  &_box{
    width:90%;
    margin:0 auto 1em;
  }
}
